<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="Staging Template">
    <meta name="keywords" content="Staging, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Machine</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header header-normal set-bg" data-setbg="{% static 'img/little-header.jpg' %}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/welcome/"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/welcome/">Home</a></li>
                            <li><a href="/contents/about/">About</a></li>
                            <li><a href="/contents/model/">Model</a>
                                <ul class="dropdown">
                                    <li><a href="./Project-details.html">Logistic Regression</a></li>
                                    <li><a href="./about.html">KNN</a></li>
                                    <li><a href="./services.html">Random Forest</a></li>
                                    <li><a href="./blog-details.html">ADA Boost</a></li>
                                    <li><a href="./blog-details.html">XGBoost</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Result</a>
                                <ul class="dropdown">
                                    <li><a href="/contents/group1/">Group1</a></li>
                                    <li><a href="/contents/group2/">Group2</a></li>
                                    <li><a href="/contents/group3/">Group3</a></li>
                                    <li><a href="/contents/group4/">Group4</a></li>
                                </ul>
                            </li>
<!--                            <li><a href="./blog.html">Blog</a></li>-->
                            <li class="active"><a href="/contents/team/">Team</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <section class="testimonial spad set-bg" data-setbg="{% static 'img/testimonial/testimonial-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Data.M</span>
                        <h2>Introduce Our Team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial__carousel">
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>“1. Fast and accurate at solving mental math problems involving addition,
                                        subtraction, multiplication, division and percentages but without high-level
                                        skills that might be required in jobs requiring complex calculation and
                                    analysis.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>“2. Fast and accurate at solving mental math problems involving addition,
                                        subtraction, multiplication, division and percentages but without high-level
                                        skills that might be required in jobs requiring complex calculation and
                                    analysis.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>“3. Fast and accurate at solving mental math problems involving addition,
                                        subtraction, multiplication, division and percentages but without high-level
                                        skills that might be required in jobs requiring complex calculation and
                                    analysis.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>“4. Fast and accurate at solving mental math problems involving addition,
                                        subtraction, multiplication, division and percentages but without high-level
                                        skills that might be required in jobs requiring complex calculation and
                                    analysis.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-9">
                                    <p>“5. Fast and accurate at solving mental math problems involving addition,
                                        subtraction, multiplication, division and percentages but without high-level
                                        skills that might be required in jobs requiring complex calculation and
                                    analysis.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-7 col-sm-10 ">
                    <div class="testimonial__client">
                        <div class="testimonial__client__item add">
                            <div class="testimonial__client__pic">
                                <img src="{% static 'img/testimonial/ta-1.png' %}" alt="">
                            </div>
                            <div class="testimonial__client__text">
                                <h5>Renee Calhoun</h5>
                            </div>
                        </div>
                        <div class="testimonial__client__item">
                            <div class="testimonial__client__pic">
                                <img src="{% static 'img/testimonial/ta-2.png' %}" alt="">
                            </div>
                            <div class="testimonial__client__text">
                                <h5>Renee Calhoun</h5>
                            </div>
                        </div>
                        <div class="testimonial__client__item">
                            <div class="testimonial__client__pic">
                                <img src="{% static 'img/testimonial/ta-3.png' %}" alt="">
                            </div>
                            <div class="testimonial__client__text">
                                <h5>Renee Calhoun</h5>
                            </div>
                        </div>
                        <div class="testimonial__client__item">
                            <div class="testimonial__client__pic">
                                <img src="{% static 'img/testimonial/ta-4.png' %}" alt="">
                            </div>
                            <div class="testimonial__client__text">
                                <h5>Renee Calhoun</h5>
                            </div>
                        </div>
                        <div class="testimonial__client__item">
                            <div class="testimonial__client__pic">
                                <img src="{% static 'img/testimonial/ta-5.png' %}" alt="">
                            </div>
                            <div class="testimonial__client__text">
                                <h5>Renee Calhoun</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo__carousel owl-carousel">
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{% static 'img/logo/logo-1.png' %}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{% static 'img/logo/logo-2.png' %}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{% static 'img/logo/logo-3.png' %}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{% static 'img/logo/logo-4.png' %}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{% static 'img/logo/logo-5.png' %}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{% static 'img/logo/logo-3.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-6">
                    <div class="section-title">
                        <span>Our Team</span>
                        <h2>Meet our team</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="team__btn">
                        <a href="#" class="primary-btn normal-btn">View All</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="team__item set-bg" data-setbg="{% static 'img/team/team-1.jpg' %}">
                        <div class="team__text">
                            <div class="team__title">
                                <h5>Dolores Webster</h5>
                                <span>CEO & Founder</span>
                            </div>
                            <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
                                porta leo, non tincidunt mauris condimentum eget. Vivamus non turpis elit. Aenean
                            ultricies nisl sit amet.</p>
                            <div class="team__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team__item set-bg" data-setbg="{% static 'img/team/team-2.jpg' %}">
                        <div class="team__text">
                            <div class="team__title">
                                <h5>Dana Vaughn</h5>
                                <span>Architect</span>
                            </div>
                            <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
                                porta leo, non tincidunt mauris condimentum eget. Vivamus non turpis elit. Aenean
                            ultricies nisl sit amet.</p>
                            <div class="team__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team__item set-bg" data-setbg="{% static 'img/team/team-3.jpg' %}">
                        <div class="team__text">
                            <div class="team__title">
                                <h5>Jonathan Mcdaniel</h5>
                                <span>Architect</span>
                            </div>
                            <p>Vestibulum dapibus odio quam, sit amet hendrerit dui ultricies consectetur. Ut viverra
                                porta leo, non tincidunt mauris condimentum eget. Vivamus non turpis elit. Aenean
                            ultricies nisl sit amet.</p>
                            <div class="team__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="copyright__text">
                            <p>Copyright © <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <div class="copyright__widget">
                            <a href="#">Terms of use</a>
                            <a href="#">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>